In [ ]:
#Import the Data

In [42]:
#1. Iport the Data
#2. Inspect the Data 
#   - How many columns and rows are there
#   - What types of data are present?
#   - Is the data readable or does it need to be converted in some way?

In [ ]:
#Deliverables:
#  1. Import your data into a Pandas DataFrame.

In [ ]:
#5.2.3 Load and Read the CSV files (windows)

In [ ]:
#     1. Load the CSV files

In [44]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#     2. In a new cell, declare variables that connect to the CSV files in the Resources folder:

In [45]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [ ]:
#Alternative Method - If you want to use os.path.join() to load CSV files, you need to import the os module with your dependencies, like this:
#import os

In [ ]:
#Read the file.

In [ ]:
#     1. To read a CSV file into Pandas, we use pd.read_csv. Add the following code to a new cell:

In [ ]:
#Ready the Ride Data File

In [49]:
# Read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv("city_data.csv")
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [ ]:
#Read the Ride Data File

In [50]:
# Read the ride data file and store it in a pandas DataFrame.
ride_data_df = pd.read_csv("ride_data.csv")
ride_data_df.head(10)

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344
5        South Latoya  2019-03-11 12:26:48   9.52  1994999424437
6       New Paulville  2019-02-27 11:17:56  43.25   793208410091
7        Simpsonburgh  2019-04-26 00:43:24  35.98   111953927754
8     South Karenland  2019-01-08 03:28:48  35.09  7995623208694
9       North Jasmine  2019-03-09 06:26:29  42.81  5327642267789

In [ ]:
#Inspect the City Data DataFrame

In [ ]:
#         1. Get all the rows that contain null values.
#            -   Use df.count(). Another option is use df.isnull().sum() method chaining

In [51]:
 #Get the columns and the rows that are not null.
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [ ]:
#         2. Make sure the driver_count column has an integer data type. Type the following code

In [52]:
# Get the columns and the rows that are not null.
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [ ]:
#         2b. Next, we need to see if the driver_count column has a numerical data type because we plan to perform mathematical calculations on that column

In [53]:
# Get the data types of each column.
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [ ]:
# The data type for the driver_count column is the only integer

In [ ]:
#         3. Find out how many data points there are for each type of city.
#              - use the sum() method on the city_data_df for the type column where the condition equals each city in the DataFrame.
#              - use the unique() method on a specific column, which will return an array, or list, of all the unique values of that column

In [54]:
# Get the unique values of the type of city.
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [ ]:
#        3b.  Get the number of data points for the Urban cities, add the following code to a new cell:

In [55]:
# Get the number of data points from the Urban cities.
sum(city_data_df["type"]=="Urban")

66

In [56]:
# Get the number of data points from the Urban cities.
sum(city_data_df["type"]=="Rural")

18

In [57]:
# Get the number of data points from the Urban cities.
sum(city_data_df["type"]=="Suburban")

36

In [ ]:
#Inspect Ride Data DataFrame

In [ ]:
#         1. Get all the rows that contain null values.

In [ ]:
#First, let's get all the rows that are not null

In [58]:
# Get the columns and the rows that are not null.
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [ ]:
#And to make sure there are no null values, we can type and run the following code:

In [59]:
# Get the columns and the rows that are not null.
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [ ]:
#         2. Make sure the fare and ride_id columns are numerical data types

In [60]:
# Get the data types of each column.
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [ ]:
#Merge your DataFrames.
#    -# Before merging, review each DatFrame.

In [ ]:
#The columns in the city_data_df DataFrame are

In [ ]:
#    - City
#    - driver_count
#    - type

In [ ]:
#The columns in the ride_data_df are

In [ ]:
#    - city
#    - date
#    - fare
#    - ride_id

In [ ]:
#When we merge two DataFrames, we merge on a column with the same data, and the same column name, in both DataFrames. 
#We use the following syntax to do that:

#  - new_df = pd.merge(leftdf, rightdf, on=["column_leftdf", "column_rightdf"])

In [ ]:
#We may have to merge the DataFrames using the how= parameter either left, right, inner, or outer depending how we want to merge the DataFrames. The default is inner.

In [61]:
#       1. Add the following code to merge the two DataFrames.

In [62]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [ ]:
#Commit Your Code

In [ ]:
#     1. Launch Git Bash.

In [ ]:
#     2. Navigate to the PyBer_Analysis folder using the necessary commands.

In [ ]:
#     3. Check the status by typing git status and pressing Enter. You might see something like this in your bash command line:
#       - The PyBer.ipynb file
#       - The Resources folder and everything in it
#       - The matplotlib_practice.ipynb file

In [ ]:
#  3. Create a bubble chart that showcases the average fare versus the total number of rides with bubble size based on the total number of drivers for each city type, including urban, suburban, and rural.

In [ ]:
#      - For the bubble chart will need to plat the following 
#            - The average fare for each type of city on the y-axis
#            - The total number of rides for each type city on the x-axis
#            - Make the size of each marker, or bubble, correlate to the average number of drivers for each type of city.

In [ ]:
#      - Here are the steps to create a bubble chart: 
#            - To get the average fare, we can use the Pandas mean() method for each city in the "fare" column.
#            - To get the total number of rides for each city, we can use the Pandas count() method for each city in the "ride_id" column.
#            - To make the bubble size correlate to the number of drivers for each city, we can get the average driver_count for each city.

In [ ]:
#   Completing the steps will be more efficient if we create separate DataFrames for each type and then create Data Series for each step.

#   Let's create three separate DataFrames, one for each type of city.

In [3]:
# Create the Urban city DataFrame.
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head()

NameError: name 'pyber_data_df' is not defined

In [ ]:
#  4. Determine the mean, median, and mode for the following.

In [ ]:
#       - The total number of rides for each city type.

In [ ]:
#       - The average fares for each city type.

In [ ]:
#       - The total number of drivers for each city type.

In [ ]:
#  5. Create box-and-whisker plots that visualize each of the following to determine if there are any outliers:

In [ ]:
#       - The number of rides for each city type.

In [ ]:
#       - The fares for each city type.

In [ ]:
#       - The number of drivers for each city type.

In [ ]:
# 6. Create a pie chart that visualizes each of the following data for each city type:

In [ ]:
#       - The percent of total fares.

In [ ]:
#       - The percent of total rides.

In [ ]:
#       - The percent of total drivers.